/*
  AppComponent Styles
  -------------------
  Provides global styling for the main application container.
*/
.app-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid #B31B1B;
    padding-bottom: 0.5rem;
    color: #333;
  }
}
